name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          base: header, activity, repositories
          repositories_forks: yes
          plugin_lines: yes
          plugin_lines_skipped: yindaheng98/yindaheng98.github.io
          plugin_traffic: yes
          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          plugin_languages_skipped: yindaheng98/yindaheng98.github.io,yindaheng98/TheCalendars,yindaheng98/LittleProgramSet
          plugin_languages_ignored: html,css,tex,Jupyter%20Notebook
          commits_authoring: yindaheng98@gmail.com,yindaheng98@163.com,770275298@qq.com
          plugin_followup: yes
          plugin_followup_sections: user
